/*This file was created automatically with the makeMaster.py script.
Time of creation: 2018-07-06 20:46:44.817789*/

/* !!! Begin File calltoaction.css !!! */

/* Call to Action */
#cta{
    color: white;
    padding: 2em;
    background-color: #333;
    text-align: center;
}

#cta .h1 .p{
  color: white;
}

/* !!! Begin File content.css !!! */

/* Content */
#content{
    padding: 2em;
    background-color: #FFF;
}

#content .twocol{
    align-items:baseline;
}

#content .column{
    margin: 0 1em;
}

#content h1{
    text-align: center;
}



/* !!! Begin File local.css !!! */

/* Rochester Blockchain Scene */
#local{
    padding: 3em;
    background-color: #FFF;
}

/* !!! Begin File splash.css !!! */

/* Splash Image */
#splash{
    z-index: -1;
    padding: 8em 0;
    color: white;
    background-image: url("images/cover-alt.jpg");
    /**background-position: relative;
    position: relative;
    background-repeat: repeat;
    background-attachment: fixed;
    background-size: 200% 200%;**/
}

#lastmeeting a{
  font-size: 1em;
}

#title, #meeting{
    text-align: center;
}

#title h1{
    color: white;
    font-size: 4em;
    margin: 0;
}

#meeting{
    font-size: 1em;
}

#splash img{
    max-height: 51%;
    max-width: 51%;
}


/* !!! Begin File topnav.css !!! */

/* Top Navigation Bar */

/*The basic bar*/
.topnav {
  color: white;
  background-color: #333;
  position: fixed;
  top: 0em;
  left: 0em;
  width: 100%;
}

/*Basic Links*/
.topnav a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/*A link id for the active page*/
.topnav #active {
  background-color: #F36E21;
  color: black;
}

#header{
  position: fixed;
  top: 0em;
  right: 0em;
  background-color: #F36E21;
  color: white;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  display: block;
  font-weight: bold;
}

.topnav .icon {
  display: none;
}

.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown .dropbtn {
    font-size: 17px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.topnav a:hover, .dropdown:hover .dropbtn {
  background-color: #555;
  color: white;
}

.dropdown-content a:hover {
    background-color: #ddd;
    color: black;
}

.dropdown:hover .dropdown-content {
    display: block;
}



@media screen and (max-width: 600px) {
  .topnav a:not(:first-child), .dropdown .dropbtn {
    display: none;
  }
  .topnav a.icon {
    background-color: #333;
    float: right;
    display: block;
  }
  .topnav.responsive {
    position: relative;
  }
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a:not(:first-child) {
    background-color: #333;
  }
  .topnav.responsive a{
    float: none;
    display: block;
    text-align: left;
  }
  .topnav.responsive .dropdown {
    float: none;
  }
  .topnav.responsive .dropdown-content {
    position: relative;
  }
  .topnav.responsive .dropdown .dropbtn {
    display: block;
    width: 100%;
    text-align: left;
  }
  .topnav #active {
    background-color: #F36E21;
    color: black;
    text-align: left;
  }
  .topnav {
    background-color: #F36E21;
  }
}
  
@media screen and (max-width: 930px) {
  #header{
    display: none;
  }
}

/* !!! Begin File generic.css !!! */

/* Generics */

body{
    padding: 0;
    margin: 0;
    background-color: #513127;
    font-family: sans-serif;
    
}
section{
    padding: 1em;
}
.notwide{
    max-width: 800px;
    margin: 0 auto;
}
.twocol{
    display: flex;
    align-items: center;
}
.column{
    flex: 50%;
}

/* Link Colors */
a {  }
a:link { color:#F36E21; }
a:visited { color:#F36E21;  }
a:hover { color:#F36E21; font-weight:bold;  }
a:active { color:#F36E21; }

@media (max-width:600px) {
    .twocol{
        flex-direction: column;
    }
    top ul     { display: none; }
    top active { display: inline-block; }
    
}

/* !!! Begin File contact.css !!! */

/* Contact Box */
#contact {
    z-index: 1;
    position: fixed;
    bottom: 0em;
    left: 0;
    width: 2em;
    background-color: #fff;

}

#contact img{
  width:2em;
  height:2em;
}

/* !!! Begin File pdf.css !!! */

#pdf{
    z-index: 10;
    color: white;
    background-image: url("./images/cover-alt.jpg");
}

/* !!! Begin File footer.css !!! */

/* Footer */
footer{
    color: white;
    background-color: #513127;
    padding: 0em 2em;
    text-align: center;
}
