/* Content */
#content{
    padding: 2em;
    background-color: #FFF;
}

#content .twocol{
    align-items:baseline;
}

#content .column{
    margin: 0 1em;
}

#content h1{
    text-align: center;
}

