/* Generics */

body{
    padding: 0;
    margin: 0;
    background-color: #513127;
    font-family: sans-serif;
    
}
section{
    padding: 1em;
}
.notwide{
    max-width: 800px;
    margin: 0 auto;
}
.twocol{
    display: flex;
    align-items: center;
}
.column{
    flex: 50%;
}

/* Link Colors */
a {  }
a:link { color:#F36E21; }
a:visited { color:#F36E21;  }
a:hover { color:#F36E21; font-weight:bold;  }
a:active { color:#F36E21; }

@media (max-width:600px) {
    .twocol{
        flex-direction: column;
    }
    top ul     { display: none; }
    top active { display: inline-block; }
    
}