/* Splash Image */
#splash{
    z-index: -1;
    padding: 8em 0;
    color: white;
    background-image: url("../images/cover.jpg");
    background-position: relative;
    position: relative;
    background-repeat: repeat;
    background-attachment: fixed;
    background-size: 200% 200%;
    text-align: center;
}

#lastmeeting a{
  font-size: 1em;
}

#title, #meeting{
    text-align: center;
}

#title h1{
    color: white;
    font-size: 4em;
    margin: 0;
}

#meeting{
    font-size: 1em;
}

#splash img{
    max-height: 51%;
    max-width: 51%;
}
